In [1]:
#import the required libraries
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [2]:
#read the dataset
df=pd.read_csv('heart_disease_data.csv')

In [3]:
#head values
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [4]:
#dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4133 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4209 non-null   float64
 5   BPMeds           4185 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4188 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4219 non-null   float64
 13  heartRate        4237 non-null   float64
 14  glucose          3850 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 529.9 KB

In [5]:
#filter only 1 or more nan values rows
df1  = df[df.isna().any(axis=1)]
print(df1.shape)
df1.head()

(582, 16)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
14,0,39,2.0,1,9.0,0.0,0,0,0,226.0,114.0,64.0,22.35,85.0,NaN,0
21,0,43,1.0,0,0.0,0.0,0,0,0,185.0,123.5,77.5,29.89,70.0,NaN,0
26,0,60,1.0,0,0.0,0.0,0,0,0,260.0,110.0,72.5,26.59,65.0,NaN,0
33,1,61,NaN,1,5.0,0.0,0,0,0,175.0,134.0,82.5,18.59,72.0,75.0,1
36,1,56,NaN,0,0.0,0.0,0,0,0,257.0,153.5,102.0,28.09,72.0,75.0,0

In [6]:
#dataframe which not containing null values
df2=df.dropna()
df2

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [7]:
#replace null values to 0 and not null values to 1(for the help for grouping in the next codes)
df3=df1.notnull().astype("int")
df3.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
14,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1
21,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1
26,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1
33,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1
36,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1

In [8]:
#grouping the dataframe based on null value quantity and position
dfGrouped=df3.groupby(list(df3.columns))

In [9]:
data_frame = pd.DataFrame() #create empty dataframe
for k in dfGrouped.groups: 
    list_of_indexes = list(dfGrouped.get_group(k).index) #get the indexes of corresponding group(same # of null values with same position)
    tempdf = df.iloc[list_of_indexes, :] #get the corresponding dataframe part from the main dataframe(using indexes)
    nullcols=list(tempdf.columns[tempdf.isnull().any()]) #get null cols in the sub dataframe
    x=df2.drop(nullcols, axis = 1) #define x from the not null dataframe
    y=df2[nullcols] #define y from the not null dataframe
    LR=LinearRegression() #create the model
    LR.fit(x,y) #fit the model
    pred=LR.predict(tempdf.drop(nullcols, axis = 1)) #predict from the model
    #replacing missing values with prediction values...
    for i in range(len(nullcols)): 
        tempdf[nullcols[i]]=pred[:,i]
   

    data_frame=pd.concat([tempdf,data_frame]) #concat each dataframe, after predict and replace values with nan
finaldf=pd.concat([df2,data_frame]) #concat the new null values filled dataframe and the dataframe which not contained the null values at the beginning
finaldf=finaldf.sort_index() #final dataframe after filling the missing values

C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]
C:\Users\RAVI\AppData\Local\Temp\ipykernel_1408\2947140881.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tempdf[nullcols[i]]=pred[:,i]

In [10]:
#after imputation ,dataframes first 50 values
finaldf.head(50)

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.000000,0,0.0,0.000000,0,0,0,195.000000,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,2.000000,0,0.0,0.000000,0,0,0,250.000000,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1.000000,1,20.0,0.000000,0,0,0,245.000000,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,3.000000,1,30.0,0.000000,0,1,0,225.000000,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,3.000000,1,23.0,0.000000,0,0,0,285.000000,130.0,84.0,23.10,85.0,85.000000,0
5,0,43,2.000000,0,0.0,0.000000,0,1,0,228.000000,180.0,110.0,30.30,77.0,99.000000,0
6,0,63,1.000000,0,0.0,0.000000,0,0,0,205.000000,138.0,71.0,33.11,60.0,85.000000,1
7,0,45,2.000000,1,20.0,0.000000,0,0,0,313.000000,100.0,71.0,21.68,79.0,78.000000,0
8,1,52,1.000000,0,0.0,0.000000,0,1,0,260.000000,141.5,89.0,26.36,76.0,79.000000,0
9,1,43,1.000000,1,30.0,0.000000,0,1,0,225.000000,162.0,107.0,23.61,93.0,88.000000,0
10,0,50,1.000000,0,0.0,0.000000,0,0,0,254.000000,133.0,76.0,22.91,75.0,76.000000,0
11,0,43,2.000000,0,0.0,0.000000,0,0,0,247.000000,131.0,88.0,27.64,72.0,61.000000,0
12,1,46,1.000000,1,15.0,0.000000,0,1,0,294.000000,142.0,94.0,26.31,98.0,64.000000,0
13,0,41,3.000000,0,0.0,1.000000,0,1,0,332.000000,124.0,88.0,31.31,65.0,84.000000,0
14,0,39,2.000000,1,9.0,0.000000,0,0,0,226.000000,114.0,64.0,22.35,85.0,79.760220,0
15,0,38,2.000000,1,20.0,0.000000,0,1,0,221.000000,140.0,90.0,21.35,95.0,70.000000,1
16,1,48,3.000000,1,10.0,0.000000,0,1,0,232.000000,138.0,90.0,22.37,64.0,72.000000,0
17,0,46,2.000000,1,20.0,0.000000,0,0,0,291.000000,112.0,78.0,23.38,80.0,89.000000,1
18,0,38,2.000000,1,5.0,0.000000,0,0,0,195.000000,122.0,84.5,23.24,75.0,78.000000,0
19,1,41,2.000000,0,0.0,0.000000,0,0,0,195.000000,139.0,88.0,26.88,85.0,65.000000,0
20,0,42,2.000000,1,30.0,0.000000,0,0,0,190.000000,108.0,70.5,21.59,72.0,85.000000,0
21,0,43,1.000000,0,0.0,0.000000,0,0,0,185.000000,123.5,77.5,29.89,70.0,78.518042,0
22,0,52,1.000000,0,0.0,0.000000,0,0,0,234.000000,148.0,78.0,34.17,70.0,113.000000,0
23,0,52,3.000000,1,20.0,0.000000,0,0,0,215.000000,132.0,82.0,25.11,71.0,75.000000,0
24,1,44,2.000000,1,30.0,0.000000,0,1,0,270.000000,137.5,90.0,21.96,75.0,83.000000,0
25,1,47,4.000000,1,20.0,0.000000,0,0,0,294.000000,102.0,68.0,24.18,62.0,66.000000,1
26,0,60,1.000000,0,0.0,0.000000,0,0,0,260.000000,110.0,72.5,26.59,65.0,77.288019,0
27,1,35,2.000000,1,20.0,0.000000,0,1,0,225.000000,132.0,91.0,26.09,73.0,83.000000,0
28,0,61,3.000000,0,0.0,0.000000,0,1,0,272.000000,182.0,121.0,32.80,85.0,65.000000,1
29,0,60,1.000000,0,0.0,0.000000,0,0,0,247.000000,130.0,88.0,30.36,72.0,74.000000,0
30,1,36,4.000000,1,35.0,0.000000,0,0,0,295.000000,102.0,68.0,28.15,60.0,63.000000,0
31,1,43,4.000000,1,43.0,0.000000,0,0,0,226.000000,115.0,85.5,27.57,75.0,75.000000,0
32,0,59,1.000000,0,0.0,0.000000,0,1,0,209.000000,150.0,85.0,20.77,90.0,88.000000,1
33,1,61,1.921231,1,5.0,0.000000,0,0,0,175.000000,134.0,82.5,18.59,72.0,75.000000,1
34,1,54,1.000000,1,20.0,0.000000,0,1,0,214.000000,147.0,74.0,24.71,96.0,87.000000,0
35,1,37,2.000000,0,0.0,0.000000,0,1,0,225.000000,124.5,92.5,38.53,95.0,83.000000,0
36,1,56,1.917241,0,0.0,0.000000,0,0,0,257.000000,153.5,102.0,28.09,72.0,75.000000,0
37,1,52,1.000000,0,0.0,0.000000,0,1,1,178.000000,160.0,98.0,40.11,75.0,225.000000,0
38,0,42,1.000000,1,1.0,0.000000,0,1,0,233.000000,153.0,101.0,28.93,60.0,90.000000,0
39,1,36,3.000000,0,0.0,0.000000,0,0,0,180.000000,111.0,73.0,27.78,71.0,80.000000,0
40,0,43,2.000000,1,10.0,0.000000,0,0,0,243.000000,116.5,80.0,26.87,68.0,78.000000,0
41,0,41,2.000000,1,1.0,0.000000,0,0,0,237.000000,122.0,78.0,23.28,75.0,74.000000,0
42,0,52,1.000000,0,0.0,1.000000,0,1,0,249.660269,148.0,92.0,25.09,70.0,82.254722,1
43,1,54,2.000000,0,0.0,0.000000,0,0,0,195.000000,132.0,83.5,26.21,75.0,100.000000,0
44,0,53,3.000000,0,0.0,1.000000,0,1,1,311.000000,206.0,92.0,21.51,76.0,215.000000,1
45,0,49,2.000000,0,0.0,0.000000,0,0,0,208.000000,96.0,63.0,20.68,65.0,98.000000,0
46,0,65,1.000000,0,0.0,0.000000,0,1,0,252.000000,179.5,114.0,30.47,90.0,87.000000,0
47,1,46,1.000000,1,20.0,0.000000,0,0,0,261.000000,119.0,77.5,23.59,75.0,74.000000,0
48,0,63,2.000000,1,40.0,0.000000,0,0,0,179.000000,116.0,69.0,22.15,95.0,75.000000,1
49,1,36,3.000000,1,20.0,0.050822,0,1,0,194.000000,139.0,93.0,24.33,80.0,62.000000,0

In [11]:
#final dataframe information
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4238 entries, 0 to 4237
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4238 non-null   int64
 1   age              4238 non-null   int64
 2   education        4238 non-null   float64
 3   currentSmoker    4238 non-null   int64
 4   cigsPerDay       4238 non-null   float64
 5   BPMeds           4238 non-null   float64
 6   prevalentStroke  4238 non-null   int64
 7   prevalentHyp     4238 non-null   int64
 8   diabetes         4238 non-null   int64
 9   totChol          4238 non-null   float64
 10  sysBP            4238 non-null   float64
 11  diaBP            4238 non-null   float64
 12  BMI              4238 non-null   float64
 13  heartRate        4238 non-null   float64
 14  glucose          4238 non-null   float64
 15  TenYearCHD       4238 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 562.9 KB